
<div id="profile">
    <mat-card>
        <mat-card-content>
            <mat-card-title>
                @{{ userProfile?.username.toUpperCase() }} PROFILE
                <button *ngIf="!!userProfile && !userProfile.followed"
                    mat-raised-button color="primary" 
                    [disabled]="userProfile.loading" 
                    (click)="followUser(userProfile)">
                    FOLLOW
                </button>
            </mat-card-title>
            <div class="dash-opt">
                <button mat-raised-button color="primary" [disabled]="!userProfile" (click)="goToFollowers()">TOTAL FOLLOWERS: {{ userProfile?.totalFollowers || 0 }}</button>
            </div>
            <div class="dash-opt">
                <button mat-raised-button color="primary" [disabled]="!userProfile" (click)="goToFollowed()">TOTAL FOLLOWED: {{ userProfile?.totalFollowed || 0 }}</button>
            </div>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>
</div>
