<div id="dashboard">
    <mat-card>
        <mat-card-content>
            <mat-card-title>
                USER OPTIONS
            </mat-card-title>
            <div class="dash-opt">
                <button mat-raised-button color="primary" (click)="generateTweet()">GENERATE TWEET</button>
            </div>
            <div class="dash-opt">
                <button mat-raised-button color="primary" (click)="generateTweet()">MY TOTAL FOLLOWERS: {{ followingCount }}</button>
            </div>
            <div class="dash-opt">
                <button mat-raised-button color="primary" (click)="generateTweet()">MY TOTAL FOLLOWED: {{ followedCount }}</button>
            </div>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>
</div>
