<div id="dashboard">
    <mat-card>
        <mat-card-content>
            <mat-card-title>
                MY PROFILE
            </mat-card-title>
            <div class="dash-opt">
                <button mat-raised-button color="primary" (click)="generateTweet()">GENERATE TWEET</button>
            </div>
            <div class="dash-opt">
                <button mat-raised-button color="primary" (click)="goToFollowers()">MY TOTAL FOLLOWERS: {{ profile?.totalFollowers || 0 }}</button>
            </div>
            <div class="dash-opt">
                <button mat-raised-button color="primary" (click)="goToFollowed()">MY TOTAL FOLLOWED: {{ profile?.totalFollowed || 0 }}</button>
            </div>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>
</div>
